<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> <img class="img-responsive" src="./assets/CrowdAdminLogo.PNG" alt="crowdFunds"> </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="#"> {{labels.register}}</a></li> 
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>{{login}}</a></li>  
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
   <div class="row content">
    <div class="col-sm-12 text-left"> 
      <h1>Welkom bij Crowdfunds administratie</h1>
      <p>Inleidende text voor de crowdfund admin</p>
      <hr>
    </div> 
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>


