<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> <img class="img-responsive" src="./assets/CrowdAdminLogo.PNG" alt="crowdFunds"> </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">{{labels.home}}</a></li>
        <li><a href="#">{{labels.investment}}</a></li>
        <li><a href="#">{{labels.payment}}</a></li>
        <li><a href="#">{{labels.costs}}</a></li>
        <li><a href="#">{{labels.platform}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="#"> {{labels.register}}</a></li> 
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>{{labels.login}}</a></li>  
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
   <div class="row content">
    <div class="col-sm-12 text-left"> 
      <h1>{{labels.welcome}}</h1>
      <p>{{labels.text}}</p>
      <hr>
    </div> 
  </div>
</div>



